@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    font-family: League Spartan SemiBold;

}

:root{
    --primary: #1b3039;
    --secundary:#ebebeb;
}

body{
    font-family: League Spartan SemiBold;
    margin: 0;
    background-color: #ebebeb
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #1b3039;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 30px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    gap: 1rem;
}

nav a:hover{
    color: #ffbc0e;
    transform: scale(1.1);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
    margin-left: 50px;
}

main{
    margin: 50px;
}

.card{
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px 5px 0 0;
    background-color: rgb(236, 231, 231);
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body{
    padding: 2px 16px;   
}

.producto-img{
    width: 400px;
    height: 550px;
}

.producto-img img{
    width: 100%;
    height: 100%;
}

.producto-precio{
    color: black;
}

.producto-titulo{
    display: block;
    font-size: 25px;
    color: black;
    white-space: pre-line;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.title{
    color: black;
    padding: 20px 0px 20px 10px;
    border-bottom: 1px solid gray;
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.contenedor-productos button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contenedor-productos button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}